@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #D1E8FF;
    border-radius: 100vh;
    @apply bg-blue-200
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    @apply bg-blue-400
  }
}

html, body {
  scrollbar-color: #4577D8 #DCE8FF;
  scrollbar-width: thin
}

