<script setup>
import BaseButton from '../components/ui/BaseButton.vue'
import BaseInput from '../components/ui/BaseInput.vue'
import UserAdd from '../components/UserAdd.vue'
import UsersList from '../components/UsersList.vue'
import {computed, ref, watch} from "vue";
import { useStore } from 'vuex'
import useNotification from "../hooks/notification.js";
import {useRoute, useRouter} from "vue-router";

const store = useStore()
const route = useRoute()
const router = useRouter()
const { setSuccess } = useNotification()

const selectedUsers = ref([])
const searchedWord = ref()
const userListRef = ref()

const { search } = route.query;
if (search) {
  searchedWord.value = search;
}

const users = computed(() => store.getters.getUsersList)

function deleteUser() {
  store.commit('deleteUser', selectedUsers.value)
  selectedUsers.value = []
  userListRef.value.clearCheckbox()
  setSuccess({title: "User Successfully Deleted!"})
}

function setSelectedUsers(val) {
  selectedUsers.value = val
}
function clearField() {
  searchedWord.value = null
}

function searchFields() {
  userListRef.value.refreshPage()
}

const filteredUsers = computed(() => {
  const searchTerm = searchedWord.value?.toLowerCase()
  return users.value.filter(val => {
    return val.name.toLowerCase().match(new RegExp(searchTerm, 'g')) ||
      val.email.toLowerCase().match(new RegExp(searchTerm, 'g')) ||
      val.phone.toLowerCase().match(new RegExp(searchTerm, 'g'))
  })
})
watch(searchedWord, () => {
  if(searchedWord.value){
    router.replace({ query: { ...route.query, search: searchedWord.value } });
  } else {
    router.replace({ query: {} });
  }
})
</script>

<template>
  <div class="main-page">
    <div class="container mx-auto px-4">
      <UserAdd></UserAdd>
      <UsersList ref="userListRef" @selectedUsers="(val) => setSelectedUsers(val)" :filteredUsers="filteredUsers"></UsersList>
      <div class="flex sm:flex-row flex-col justify-between sm:items-end items-center">
        <BaseButton @click="deleteUser" :disabled="!selectedUsers.length" :class="{ 'opacity-25 cursor-not-allowed': !selectedUsers.length }"
                    class="text-red border-red hover:text-white hover:bg-red">Delete</BaseButton>
        <div class="search-users flex sm:flex-row flex-col items-center">
          <BaseInput
            name="search"
            type="text"
            placeholder="Search all fields"
            @onClear="clearField"
            v-model="searchedWord"
            @input="searchFields"
          ></BaseInput>
          <div class="ml-4 font-semi-bold mt-2 sm:mt-0">Users count: <span v-if="filteredUsers" class="font-bold">{{filteredUsers.length}}</span></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.main-page {
  padding: 32px;
  min-height: 100vh;
  @apply bg-grey-300;
}
</style>
