<template>
  <section class="user-list">
    <div class="v-table-wrapper">
    <table class="v-table">
      <thead class="v-table__header">
      <tr>
        <th
          v-for="(header, index) in headers"
          :key="`header${index}`"
          ref="tableHeader"
          :class="header.className"
          class="v-table__header-th"
        >
          <span>{{ header.text }}</span>
          <span v-if="header.value === 'index'">
            <input @change="selectAllUsers" v-model="isAllUsersSelected" type="checkbox" class="w-4 h-4 cursor-pointer text-blue-600 rounded">
          </span>
          <span v-if="header.value === 'name'">
            <svg v-if="isDescSort" @click="sortNamesDesc" class="w-4 h-4 rounded-full inline ml-2 cursor-pointer hover:bg-blue-400 hover:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
            </svg>
            <svg v-else @click="sortNamesAsc" class="w-4 h-4 rounded-full inline ml-2 cursor-pointer hover:bg-blue-400 hover:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
            </svg>
          </span>
        </th>
      </tr>
      </thead>
      <tbody class="v-table__body" v-if="filteredUsers && filteredUsers.length < 1">
      <tr>
        <td class="v-table__body-td text-center" :colspan="headers.length">No Users</td>
      </tr>
      </tbody>
      <tbody class="v-table__body">
      <tr v-for="(item, itemIndex) in users" :key="`bodyItem${itemIndex}`">
        <td
          v-for="header in headers"
          :key="`rowItem-${itemIndex}-${header.value}`"
          :class="header.className"
          class="v-table__body-td"
        >
          <span v-if="header.value === 'index'">
            <input type="checkbox" @change="selectUser" v-model="selectedUsers" :value="item.id" class="w-4 h-4 cursor-pointer text-blue-600 rounded ">
          </span>
          <span v-else>{{ item[header.value] }}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
    <BasePagination v-if="filteredUsers && filteredUsers.length > 1" v-model="configuration.page"
                    v-model:limit="configuration.limit" :length="Math.ceil(filteredUsers.length / +configuration.limit)" />
  </section>
</template>

<script setup>
import '../assets/scss/table.scss'
import {computed, onMounted, reactive, ref, watch} from "vue";
import { useStore } from 'vuex'
import { useRoute, useRouter } from 'vue-router'
import BasePagination from "./ui/BasePagination.vue";

const props = defineProps({
  filteredUsers: {
    type: Array,
  },
})
const emits = defineEmits(["selectedUsers"])

const store = useStore()
const route = useRoute()
const router = useRouter()

const configuration = reactive({
  page: 1,
  limit: '5',
})

const headers = computed(() => {
    return [
      { text: "", value: "index" },
      { text: "Name", value: "name" },
      { text: "Email", value: "email" },
      { text: 'Phone', value: "phone" },
    ]
  },
)

const users = computed(() => {
  return props.filteredUsers?.slice(
    (configuration.page - 1) * (+configuration.limit),
    (configuration.page - 1) * (+configuration.limit) + (+configuration.limit)
  );
})
const allUsers = computed(() => store.getters.getUsersList)

const isDescSort = ref(false)
const selectedUsers = ref([])
const isAllUsersSelected = ref(false)

const clearCheckbox = () => {
  selectedUsers.value = []
  isAllUsersSelected.value = false
}

function selectUser() {
  emits("selectedUsers", selectedUsers.value)
  if(selectedUsers.value.length !== props.filteredUsers.length) {
    isAllUsersSelected.value = false
  }
}
function selectAllUsers() {
  if(isAllUsersSelected.value){
    selectedUsers.value = users.value.map(user => user.id);
  } else {
    selectedUsers.value = []
  }
  emits("selectedUsers", selectedUsers.value)
}
function sortNamesAsc() {
  allUsers.value.sort((a, b) => a.name.toLowerCase() > b.name.toLowerCase() ? 1 : -1);
  router.replace({ query: { ...route.query, sortByName: "asc" } });
  isDescSort.value = !isDescSort.value
}
function sortNamesDesc() {
  allUsers.value.sort((a, b) => a.name.toLowerCase() > b.name.toLowerCase() ? -1 : 1);
  router.replace({ query: { ...route.query,sortByName: "desc" } });
  isDescSort.value = !isDescSort.value
}

function refreshPage() {
  configuration.page = 1
  if(+route.query.page !== 1){
    router.replace({query: {...route.query, page: configuration.page }})
  }
}

onMounted(()=>{
  store.dispatch('getUsersData')

  const { sortByName, page } = route.query;
  if (sortByName) {
    if(sortByName === 'asc') {
      sortNamesAsc()
    } else {
      sortNamesDesc()
    }
  }

  if(page){
    configuration.page = +page
  }
})

defineExpose({clearCheckbox, refreshPage})
</script>

