<script setup>
import BaseButton from '../components/ui/BaseButton.vue'
import BaseInput from '../components/ui/BaseInput.vue'
import {ref} from "vue";
import { useStore } from 'vuex'
import { Form } from "vee-validate";
import {v4 as uuidv4} from 'uuid';
import useNotification from "../hooks/notification.js";

const { setSuccess } = useNotification()
const store = useStore()
const formRef = ref()

function addUser() {
  let uuid = uuidv4();
  store.commit('addUser', {...userData.value, id: uuid})
  userData.value = {...USERDATA}
  formRef.value.resetForm({
    values: {
      id: null,
      name: null,
      email: null,
      phone: null
    }
  })
  setSuccess({title: "User Successfully Added!"})
}

function clearField(val) {
  userData.value[val] = null
}

const USERDATA = {
  name: null,
  email: null,
  phone: null
}
const userData = ref({...USERDATA})
</script>

<template>
  <section class="user-addition">
    <Form @submit="addUser" ref="formRef">
      <div class="flex sm:flex-row flex-col sm:items-end items-center justify-center sm:gap-6 gap-4 sm:mb-6">
        <div class="flex sm:flex-row flex-col sm:items-end items-center justify-center sm:gap-6 gap-3">
          <BaseInput
            name="name"
            label="Full name"
            type="text"
            placeholder="Oybek"
            rules="required|fullName"
            @onClear="(val) => clearField(val)"
            v-model="userData.name"
          ></BaseInput>
          <BaseInput
            label="Email address"
            type="email"
            name="email"
            placeholder="oybek.mm@gmail.com"
            rules="required|email"
            @onClear="(val) => clearField(val)"
            v-model="userData.email"
          ></BaseInput>
          <BaseInput
            label="Phone number"
            type="tel"
            name="phone"
            placeholder="+ 375 (XX) XXX-XX-XX"
            rules="required"
            v-model="userData.phone"
            @onClear="(val) => clearField(val)"
            v-mask="'+ 375(##)###-##-##'"
          ></BaseInput>
        </div>
        <BaseButton type="submit" class="text-teal border-teal hover:text-white hover:bg-teal sm:mb-3">Add</BaseButton>
      </div>
    </Form>
  </section>
</template>
