<script setup>
import { Field } from "vee-validate";

defineProps({
  label: String,
  type: String,
  name: {
    type: String,
    default: "text",
  },
  placeholder: String,
  rules: String,
  modelValue: String,
})

const emits = defineEmits(["update:modelValue", "onClear"])

const onInput = (val) => {
  emits("update:modelValue", val.target.value)
}
function clearField (val) {
  emits("onClear", val)
}
</script>

<template>
  <div>
    <label class="block mb-2 text-sm font-medium text-grey-700">{{label}}</label>
    <Field :name="name" :modelValue="modelValue" v-slot="{ errors, field }" :rules="rules">
      <div class="relative w-full">
        <div v-if="name === 'search'" class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <svg aria-hidden="true" class="w-5 h-5 text-grey-700" fill="currentColor" viewBox="0 0 20 20">
            <path d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"></path>
          </svg>
        </div>
        <input :type="type" :placeholder="placeholder" @input="onInput" v-model="modelValue" v-bind="field" id="simple-search" :class="name === 'search' ? 'pl-10' : 'pl-3'"
               class="bg-grey-300 border border-grey-700 text-grey-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pr-10 p-2.5">
        <div class="flex absolute inset-y-0 right-0 items-center pr-3 cursor-pointer" @click="clearField(name)">
          <svg class="w-5 h-5 text-black-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </div>
      <div class="h-3">
        <transition name="fade">
          <span v-if="errors[0]" class="text-red block text-sm">{{ errors[0] }}</span>
        </transition>
      </div>
    </Field>
  </div>
</template>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
