<script setup>
import {ref, watch} from "vue";
import { useRouter, useRoute} from "vue-router";

const router = useRouter()
const route = useRoute()

const props = defineProps({
  modelValue: {
    default: 0,
    type: Number,
  },
  length: {
    type: Number,
    default: 0,
  },
  limit: {
    type: String,
    default: '10',
  },
})


const emits = defineEmits(["update:modelValue"])

const paginationList = ref([])

const onChangePage = (pageNumber) => {
  if (props.modelValue !== pageNumber){
    emits("update:modelValue", pageNumber)
    router.replace({query: {...route.query, page: pageNumber}})
  }
}

const prev = () => {
  onChangePage(props.modelValue - 1)
}
const next = () => {
  onChangePage(props.modelValue + 1)
}

const getRange = (start, end) => {
  return Array(end - start + 1).fill(null).map((v, i) => i + start)
}

const pagination = (currentPage, pageCount) => {
  let delta
  if (pageCount <= 7)
    delta = 7
  else
    delta = currentPage > 4 && currentPage < pageCount - 3 ? 2 : 4

  const range = {
    start: Math.round(currentPage - delta / 2),
    end: Math.round(currentPage + delta / 2),
  }

  if (range.start - 1 === 1 || range.end + 1 === pageCount) {
    range.start += 1
    range.end += 1
  }

  let pages
    = currentPage > delta
    ? getRange(Math.min(range.start, pageCount - delta), Math.min(range.end, pageCount))
    : getRange(1, Math.min(pageCount, delta + 1))

  const withDots = (value, pair) => (pages.length + 1 !== pageCount ? pair : [value])

  if (pages[0] !== 1)
    pages = withDots(1, [1, "..."]).concat(pages)

  if (pages[pages.length - 1] < pageCount)
    pages = pages.concat(withDots(pageCount, ["...", pageCount]))

  return pages
}

watch([() => props.modelValue, () => props.length], () => {
  paginationList.value = pagination(props.modelValue, props.length)
})

paginationList.value = pagination(props.modelValue, props.length)
</script>

<template>
  <div class="flex justify-between items-center">
    <div class="pagination mb-1 mt-2 lg:mt-0">
      <button class="pagination_arrow" :class="{ disabled: modelValue <= 1 }" @click="prev">
        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.5 15C8.5 15 1.5 10.856 1.5 8C1.5 5.145 8.5 1 8.5 1" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <template v-for="(item, i) in paginationList" :key="`${i}pagination`">
        <button :class="{ dots: item === '...', active: item === modelValue }" @click="onChangePage(item)">
          {{ item }}
        </button>
      </template>
      <button class="pagination_arrow" :class="{ disabled: modelValue === length }" @click="next">
        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.5 1C1.5 1 8.5 5.144 8.5 8C8.5 10.855 1.5 15 1.5 15" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </div>
</template>

<style lang="scss">
.pagination {
  display: flex;

  button {
    @apply text-grey-700 bg-white text-base font-medium;
    margin: 4px;
    min-width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 8px;
    user-select: none;

    svg {
      @apply stroke-grey-700;
    }

    &.disabled {
      display: none;
    }
    &.dots {
      background-color: transparent;
      @apply text-grey-600;
      cursor: default;
      pointer-events: none;
    }

    &.active {
      @apply bg-blue-400 text-white;
    }
  }
}
</style>
