<script setup>
defineProps({
  type: {
    type: String,
    default: "button",
  }
})
</script>

<template>
  <button :type="type" class="flex-no-shrink p-2 border-2 rounded">
    <slot></slot>
  </button>
</template>
